---
# base layout for other item display_template layouts
layout: default
# item-meta adds rich meta markup to the page on production build
item-meta: true
# item-header replaces the site banner with the item title header (_includes/item/page-header.html)
item-header: true
---
<div class="container-fluid py-3">
    <div class="row">

        <div class="col-md-8" id="metadata">

            {% include item/metadata.html %}

        </div>

        <div class="col-md-4">

        {{ content }}

        </div>

    </div>

    {%- if site.data.theme.browse-buttons == true -%}
        {% include item/browse-buttons.html %}
    {%- endif -%}
</div>
