---
# base layout for other item display_template layouts
layout: default
# item-meta adds rich meta markup to the page on production build
item-meta: true
---
<div class="container-fluid py-3">
    <h2 class="mb-3">{{ page.title }} ({{ page.objtype }})</h2>

    <div class="row">

        <div class="col-md-8" id="metadata">

            {% include item/metadata.html %}

        </div>

        <div class="col-md-4">

        {{ content }}

        </div>

    </div>

    {%- if site.data.theme.browse-buttons == true -%}
        {% include item/browse-buttons.html %}
    {%- endif -%}
</div>
