{% comment %}

    Footer text copied from the first two lines of the footer on https://beta.perseus.tufts.edu/ (MVP).

{%- endcomment -%}
<footer id="site-footer" class="mt-auto p-4">
    <p>Perseus contact and support <a href="https://beta.perseus.tufts.edu/help">information</a>.</p>
    <p class="mb-0">
        Perseus is a non-profit enterprise, located in the
        <a href="https://ase.tufts.edu/classics" target="_blank" rel="noopener">Department of Classical Studies</a>,
        <a href="https://www.tufts.edu" target="_blank" rel="noopener">Tufts University</a>.
    </p>
</footer>
